.footer {
    position: absolute;
    z-index: 10;
    bottom: rem(25);
    left: 0;
    width: 100%;
    pointer-events: none;

    &__wr {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 vw(24);
    }

    &__block {
        pointer-events: all;
        white-space: nowrap;
    }
}

.copyright {
    @include FontFiraBold;
    @include font(13);
    color: rgba($white, 0.5);
    letter-spacing: rem(0.3);
    text-transform: uppercase;
}
